<h1>Edit <%= @player.name %></h1>

<%= render 'form', player: @player %>

<%= link_to 'Show', @player, class:"btn btn-outline-primary" %> 
<%= link_to 'Back', players_path, class:"btn btn-outline-danger" %>
